/* Main Projects Styles */
.projects {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects > * {
    padding-left: 3%;
    padding-top: 2%;
    margin-bottom: 20pt;
}

/* Project Information */
.project_info {
    height: 100%;
    width: 50%;
    font-family: "Work Sans";
    color: #403930;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_info_title {
    font-size: 26pt;
    font-weight: 700;
}

.project_info_desc {
    font-size: 18pt;
    font-weight: 400;
}

.project_info_link {
    font-size: 18pt;
}

/* Project Logo*/
.project_view {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_view_img {
    max-width: 250px;
    max-height: 100%;
    object-fit: cover;
}

/* Carousel Styles */
.project_item {
    height: 80%;
    width: 90%;
    background-color: #fbfaff;
    border-radius: 30px;
    margin: 0 auto;
    overflow: hidden;
}
.project_embla_viewport {
    height: 90%;
}
.project_embla_container {
    height: 100%;
    display: flex;
    align-items: center;
}
.project_embla_slide {
    flex: 0 0 100%;
    min-width: 0;
}
.project__prev {
    font-family: "Work Sans";
    background-color: #f8cf9e;
    color: #594f34;
}
.project__next {
    font-family: "Work Sans";
    background-color: #f8cf9e;
    color: #594f34;
}
