/* Main About Styles */
.about {
    background-color: #fbfaff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about > * {
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 1%;
}

/* About Container */
.about_container {
    height: 85%;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* About Bio Section */
.about_bio {
    width: 50%;
    font-family: "Work Sans";
    color: #403930;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_bio_title {
    font-size: clamp(14pt, 3vw, 35pt);
    font-weight: 700;
}

.about_bio_desc {
    font-size: clamp(5pt, 1vw, 20pt);
    font-weight: 400;
}

/* Carousel Styles */
.about_embla {
    height: 90%;
    width: 45%;
    background-color: white;
    border-radius: 30px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about_embla_viewport {
    height: 100%;
    width: 80%;
    overflow: hidden;
    margin-bottom: 10pt;
}

.about_embla_container {
    height: 100%;
    display: flex;
    align-items: center;
}

.about_embla_slide {
    flex: 0 0 100%;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about_gallery_img {
    max-width: 100%;
    max-height: 80%;
}

.about__prev {
    font-family: "Work Sans";
    background-color: #f8cf9e;
    color: #594f34;
    font-size: clamp(8pt, 2vw, 12pt);
}

.about__next {
    font-family: "Work Sans";
    background-color: #f8cf9e;
    color: #594f34;
    font-size: clamp(8pt, 2vw, 12pt);
}

/* Tech Stack Section */
.about_techstack_icons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: clamp(14pt, 3vw, 35pt);
    color: "default";
}
